[Unit]
Description=Moolticute daemon

[Service]
Type=simple
ExecStart=/usr/bin/moolticuted
KillMode=process
Restart=always

# Uncomment those fields and edit them to match your settings
#User=nobody
#Group=plugdev

# Hardening for all
CapabilityBoundingSet=
RuntimeDirectory=moolticuted
RuntimeDirectoryMode=750
PrivateTmp=yes
RemoveIPC=true
ProtectSystem=strict
ProtectHome=read-only
MemoryDenyWriteExecute=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectControlGroups=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_NETLINK AF_UNIX
RestrictNamespaces=true
RestrictRealtime=true

[Install]
WantedBy=multi-user.target
