Source: moolticute
Section: utils
Priority: optional
Maintainer: Mooltipass Team <support@themooltipass.com>
Build-Depends: debhelper (>=9), tar (>=1.27.1), gzip (>=1.6), libqt5websockets5-dev, libusb-1.0-0-dev, qt5-qmake, qttools5-dev-tools, pkg-config
Standards-Version: 3.9.7
Homepage: https://www.themooltipass.com/
Vcs-Git: https://github.com/mooltipass/moolticute.git
Vcs-Browser: https://github.com/mooltipass/moolticute

Package: moolticute
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt5core5a, libqt5gui5, libqt5network5, libqt5websockets5, libqt5widgets5, libqt5dbus5, libusb-1.0-0
Description: Mooltipass cross platform daemon/tools
 This project aims to be an easy companion to your Mooltipass device and extend
 the power of the device to more platform/tools. With it you can manage your
 Mooltipass with a cross platform app, as well as provide a daemon service that
 handle all USB communication with the device.
 . 
 This tool is written with a daemon that runs in the background, and a user
 interface app to control your Mooltipass. Other clients could also connect and
 talk to the daemon (it uses a websocket connection and simple JSON messages).
 . 
 The official Mooltipass App only works with Chrome as it relies on USB HID
 library that is only implemented in Chrome. A Firefox (or any other browser)
 extension could easily be written by using the Moolticute daemon.
 . 
 It is completely cross platform, and runs on Linux (using libusb),
 OS X (native IOKit API), and Windows (native HID API).

