#!/usr/bin/make -f

%:
	dh $@ 

override_dh_auto_configure:
	# qmake looks for either a single .pro or a .pro with
	# the same name as the cwd. Since there are multiple .pro
	# files, we copy the main one to the name qmake expects
	cp Moolticute.pro $(shell basename $(CURDIR)).pro
	# launchpad build issue for bionic & xenial
	ifeq ($(shell echo $(DEB_BUILD_ARCH_OS) | grep -c bionic),1)
		env QT_SELECT=qt5 dh_auto_configure
	else ifeq ($(shell echo $(DEB_BUILD_ARCH_OS) | grep -c xenial),1)
		env QT_SELECT=qt5 dh_auto_configure
	else
		dh_auto_configure
	endif
