#!/usr/bin/make -f
# launchpad build issue for bionic & xenial
ifeq (bionic,$(OS_CODENAME))
export QT_SELECT = qt5
endif
ifeq (xenial,$(OS_CODENAME))
export QT_SELECT = qt5
endif

%:
	dh $@ 

override_dh_auto_configure:
	# qmake looks for either a single .pro or a .pro with
	# the same name as the cwd. Since there are multiple .pro
	# files, we copy the main one to the name qmake expects
	cp Moolticute.pro $(shell basename $(CURDIR)).pro
	dh_auto_configure
