[Desktop Entry]
Type=Application
Name=Moolticute
Comment=Start Moolticute daemon and App
Exec=PREFIX/bin/moolticute
Icon=moolticute
Terminal=false
Categories=Utility;
