[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Moolticute
Comment=Start Moolticute daemon and App
Exec=/usr/bin/moolticute
Icon=/usr/share/icons/moolticute.png
Terminal=false
Categories=Utility

